.addToListWrapper {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 100ms ease-in-out;

  .gallery:has(&.isShowing) .galleryItem {
    pointer-events: none;
    background-color: var(--secondary-background-color);
    border: 1px solid transparent;
  }

  .addToList {
    display: none;
    position: relative;
    cursor: pointer;
    text-align: start;
    animation: vanish 200ms;

    &.open {
      display: block;
      animation: appear 200ms;
    }
  }

  .add-icon_container {
    width: min-content;
    padding: 4px;
    margin: 0 0 0 auto;
    background-color: rgba($color: #1E1E1E, $alpha: 0.5);
    cursor: pointer;
  }

  .add-icon {
    display: block;
    color: #FFFF;
  }

  .add-icon_container:hover .add-icon {
    color: var(--secondary-accent-color);
  }

  .dropdown {
    list-style: none;
    background-color: rgb(50, 47, 47);
  }

  .dropdown-item {
    padding: 6px;

    &:hover {
      color: var(--secondary-accent-color);
    }
  }
}

.galleryItem:hover .addToListWrapper {
  opacity: 1;
  pointer-events: auto;
}

.addToListWrapper.isShowing {
  opacity: 1;
  pointer-events: auto;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);

  }
}

@keyframes vanish {
  from {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }
  to {
    display: none;
    opacity: 0;
    transform: translateY(-10px);
  }
}