.MovieDetailsPage_go-back-button {
  display: inline-block;
  text-decoration: none;
  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);
  padding: var(--spacing-sm) var(--spacing-md);
  margin-bottom: var(--spacing-md);
}

.MovieDetailsPage_link {
  text-decoration: none;
  color: var(--primary-text-color);
}

.MovieDetailsPage_link + .MovieDetailsPage_link {
  margin-left: var(--spacing-md); 
}
