.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: 1200px) {
  .gallery {
    grid-template-columns: repeat(5, 1fr);
  }
}

.galleryItem {
  position: relative;
  border: 1px solid transparent;
  background-color: var(--secondary-bg-color);
}
.galleryItem:hover,
.galleryItem:active,
.galleryItem:focus {
  background-color: var(--secondary-accent-color);
  border: 1px solid var(--secondary-accent-color);
}
.galleryItem:hover .favoritesIcon {
  opacity: 0.65;
}

.link {
  text-decoration: none;
}

.posterContainer {
  position: relative;
}

.poster {
  display: block;
  width: 100%;
  height: auto;
}

.movieTitle {
  color: var(--primary-text-color);
  text-align: center;
  padding: var(--spacing-md) var(--spacing-sm);
}

.addToListWrapper {
  position: absolute;
  top: 0;
  right: 0;
}
.addToList {
  display: block;
  background: white;
  border: 2px solid black;
  cursor: pointer;
  text-align: end;
  margin-left: auto;
}

.dropdown {
  list-style: none;
  padding: var(--spacing-sm);
  background-color: rgb(50, 47, 47);
}