.searchForm {
  display: flex;
  align-items: end;
  gap: 10px;
  margin-bottom: var(--spacing-lg);
}

.searchLabel {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.searchInput {
  margin-top: var(--spacing-sm);
  padding: var(--spacing-sm) var(--spacing-md);
}

.searchButton {
  padding: var(--spacing-sm) var(--spacing-md);
  border: 1px solid var(--secondary-accent-color);
  background-color: var(--secondary-accent-color);
  font-weight: 500;
  cursor: pointer;
}