.form {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  gap: var(--spacing-md);
}

.label {
  display: flex;
  flex-direction: column;
}

.form input,
.form select {
  font-size: 1rem;
  padding: var(--spacing-sm) var(--spacing-md);
}

.form button {
  padding: var(--spacing-sm) var(--spacing-md);
	border: 1px solid var(--secondary-accent-color);
	background-color: var(--secondary-accent-color);
	font-weight: 500;
	cursor: pointer;
}