.actorInfoSection {
  display: flex;
  gap: 50px;
}

.imageContainer-container {
}

.image {
}

.actorInfo {

}

.actorText {
  margin: var(--spacing-sm);
}

.actorMoviesSection {

}

.actorMoviesList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
  list-style: none;
}

.moviesPoster {
  display: block;
  width: 100%;
  height: auto;
}

.movieTitle {
  text-align: center;
  padding: var(--spacing-sm);
}