.gallery {
  margin: var(--spacing-lg) 0 0 0;
  padding: 0;
  list-style: none;
}
.gallery li {
  border: 1px solid transparent;
  background-color: var(--secondary-bg-color);
  margin-bottom: var(--spacing-lg);
}

@media (min-width: 1200px) {
  .gallery {
    grid-template-columns: repeat(5, 1fr);
  }
}