header {
  padding: var(--spacing-md) var(--spacing-lg);
  background-color: var(--secondary-bg-color);
}

.navLink {
  display: inline-block;
  text-decoration: none;
  padding: var(--spacing-sm) var(--spacing-md);
  border: 1px solid transparent;
  margin: 0 12px;
  color: var(--primary-text-color);
}

.navLink.active {
  color: var(--secondary-accent-color);
  border-bottom-color: var(--secondary-accent-color);
}