@import '@fontsource/roboto';
@import '@fontsource/montserrat';

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-family: "Roboto", serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  --primary-bg-color: #121212;
  --secondary-bg-color: #1E1E1E;
  --primary-accent-color: #E50914;
  --secondary-accent-color: #FFB400;
  --primary-text-color: #FFFFFF;
  --secondary-text-color: #A3A3A3;
  --border-color: #303030;
  --success-color: #00C853;
  --error-color: #D32F2F;
  --font-main: 'Roboto', sans-serif;
  --font-secondary: 'Montserrat', sans-serif;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
}


body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

main {
  padding: var(--spacing-lg);
}

p,
h1,
h2,
h3,
li,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
}
